* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans SC', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("./images/home_bg.jpg");
    background-position: center;
    background-size: cover;
    position: fixed;
}

nav {
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 120px;
    vertical-align: middle;
    margin-right: 18px;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%
}

.text-box {
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 50%;
    text-align: center;
}

.text-box h1, .text-box p {
    font-size: 62px;
    margin: 20px 0px 20px;
}
.footerButton{
    position: fixed;
    bottom: 2%;
    right: 1%;
}
/*.footerButton .join {*/
/*    display:block;*/
/*    border-radius: 50%;*/
/*    color: white;*/
/*    background-color: blue;*/
/*    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);*/
/*    height: 7em;*/
/*    width: 7em;*/
/*}*/
.footerButton .join{
    background-color: blue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.footerButton .join:hover{
    transform: translateY(-12px);
}